#main {
  width: 500px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: rgba(0, 0, 0, .05);
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  display: flex;
}

* {
  margin: 5px;
  font-family: 'Lato', sans-serif;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


#title {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

#description {
  display: flex;
  justify-content: center;
}

#survey-form {
  margin: 20px;
}

#role {
  display: flex;
  margin-top: 20px
}

#improve-label {
  margin-right: 70px;
}

#comments label {
  margin-right: 10px;
}

#comments {
  margin-right: auto;
}

textarea {
  margin-top: 30px;
  flex-shrink: 1;
  width: 100%;
}

button {
  height: 35px;
  width: 80px;
  border-radius: 4px;
  background: white;
  font-size: 16px;
  margin-top: 16px;
}

@media(max-width: 992px) {
  #survey-form {
    flex-shrink: 1;
  }
  .reccomend-options {
    display: flex;
  }
}

@media(max-width: 768px) {
  .main {
    width: 100%;
  }

  input {
    width: 100%;
    padding: 5px;
  }
}

@media(max-width: 480px) {
  .main {
    width: 100%;
  }
  input {
    width: 100%;
    padding: 5px;
  }
}